.section-header {
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margined{
  margin: 0 20vw;
}

.navbar {
  padding: 0; /* Ноль на десктопах */
}

@media (max-width: 768px) {
  .navbar {
    padding: 16px; /* 16px на мобильных устройствах */
  }
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.language {
  margin: 0 20px;
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.language .active-language {
  border-bottom: 2px solid var(--tg-theme-button-color, rgb(0, 0, 0));;
  font-weight: bold;
}