.card-items-inf {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4rem;
}

.card-items-inf .item {
    position: relative;
}

.card-items-inf .item:not(:last-child)::after {
    content: '•';
    position: absolute;
    right: -0.5rem;
    color: #333;
    font-size: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
}

.head-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
}

.single-line-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background: transparent !important;
}

@media (max-width: 768px) {

    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }

    html::-webkit-scrollbar-thumb,
    body::-webkit-scrollbar-thumb {
        background: transparent !important;
    }
}