.card-items-inf {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4rem;
}

.card-items-inf .item {
    position: relative;
}

.card-items-inf .item:not(:last-child)::after {
    content: '•';
    position: absolute;
    right: -0.5rem;
    color: #333;
    /* Adjust color as needed */
    font-size: 1.2rem;
    /* Adjust size as needed */
    top: 50%;
    transform: translateY(-50%);
}

.head-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
}

.single-line-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Ограничение текста до двух строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Троеточие для обрезанного текста */
    margin-bottom: 5px;
    /* Добавить отступ снизу для одного ряда текста */
}
