.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000; /* Поверх другого контента */
}

.popup-menu2 {
overflow-x: hidden;
overflow-y: auto;
background: var(--tg-theme-secondary-bg-color, white);
padding: 10px;
border-radius: 8px;
max-width: 500px;
width: 100%;
/* Немного меньше ширины экрана */
height: 100%;
position: static;

word-wrap: break-word;
word-break: break-word;
}
  
  
    .close-icon {
      position: absolute;
      top:3.5%;
      left: 6%;
      /* Align the close icon to the far left */
      cursor: pointer;
      font-size: 20px;
      /* Adjust size as needed */
      color: #000;
      /* Customize color if needed */
    }

.header-pop{
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: space-between;
  position: static;
  padding-bottom: 8px;
}

.custom-cell hr {
  border-color: #ffffff00 !important;
}