/* Стили для всех элементов внутри .chapter */
.chapter ul,
.chapter li,
.chapter h1,
.chapter h2,
.chapter h3,
.chapter h4,
.chapter h5,
.chapter h6,
.chapter pre,
.chapter code {
  padding-left: 16px;
  /* Отступ слева для всех этих элементов */
}


/* Индивидуальные стили для li */
.chapter li {
  font-family: var(--tgui--font-family);
  margin-top: 16px;
  font-weight: var(--tgui--font_weight--accent3);
}

/* Индивидуальные стили для заголовков */
.chapter h1,
.chapter h2,
.chapter h3,
.chapter h4,
.chapter h5,
.chapter h6 {
  font-family: var(--tgui--font-family);
  margin-top: 16px;
}

.chapter h1 {
  color: var(--tg-theme-text-color);
  font-size: 4vh;
}

.chapter h2,
.chapter h3 {
  color: var(--tg-theme-text-color);
}

/* Стиль для <p> */
.chapter p {
  font-family: var(--tgui--font-family);
  margin-top: 8px;
  background-color: var(--tgui--tertiary_bg_color, #aaa);
  color: var(--tgui--text_color);
  padding: 12px 16px;
  border-radius: 12px;
  line-height: 1.6;
  border-width: var(--tgui--border--width);
}



.p-frame {
  background-color: var(--tgui--tertiary_bg_color, #aaa);
  padding: 12px 16px;
  border-radius: 12px;
  margin-top: 8px;
  line-height: 1.6;
}


/* Убираем маркеры и отступы для всех списков */
.chapter ul {
  list-style-type: none;
  padding-left: 0;
  /* Убираем отступы у <ul> */
  margin: 0;
  /* Убираем любые дополнительные отступы у <ul> */
}

.chapter ul li {
  margin-top: 8px;
  /* Стандартный отступ для всех элементов списка */
}

/* Убираем отступ слева у первого элемента в списке */
.chapter ul li:first-of-type {
  margin-left: 0;
}

/* Добавляем отступ для "Answer" */
.chapter ul li>p {
  margin-top: 20px;
}

/* Для внутренних списков ul внутри li можно установить отступы */
.chapter ul li ul {
  margin: 16px 0 16px 16px;
  /* Отступ для внутренних списков */
}

.chapter ul li ul li {
  margin-top: 6px;
  /* Отступ для элементов внутренних списков */
}

/* Кастомный маркер для <li> */
.chapter ul li::before {
  content: "- ";
  color: var(--tg-theme-button-color);
  /* Цвет маркера */
  margin-right: 8px;
  /* Отступ между маркером и текстом */
}

/* Стиль для ответа (Answer) */
.chapter ul li p {
  margin-top: 12px;
  /* Отступ для "Answer" */
}

/* Стиль для <pre> */
.chapter pre {
  overflow-x: auto !important;
  width: 100%;
  word-wrap: break-word;
  word-break: break-word;
}

/* Стиль для <code> */
.chapter code {
  overflow-x: auto !important;
  width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--tg-theme-accent-text-color);
}

/* Видео - без изменений */
.chapter video {
  width: 100%;
  height: auto;
}

/* Ссылка */
.chapter a {
  color: var(--tg-theme-link-color);
}
